In [2]:
import mysql.connector

In [3]:
mydb=mysql.connector.connect(
    host="localhost",
    user="root",
    password="Murali@29",
    database="games_db"
)
print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x000001F88552D2B0>

In [4]:
mycursor=mydb.cursor()
 
mycursor.execute("CREATE DATABASE games_db")

DatabaseError: 1007 (HY000): Can't create database 'games_db'; database exists

In [ ]:
mycursor.execute("SHOW DATABASES")
 
for x in mycursor:
    print(x)

('games_db',)
('information_schema',)
('mysql',)
('performance_schema',)
('sakila',)
('sys',)
('world',)

In [ ]:
mycursor.execute("USE games_db")
 
mycursor.execute("CREATE TABLE customers (name VARCHAR(255),address VARCHAR(255))")

In [6]:
mycursor.execute("SHOW TABLES")
for x in mycursor:
    print(x)

('customers',)
('customers1',)

In [5]:
mycursor.execute("CREATE TABLE customers1 (id INT AUTO_INCREMENT PRIMARY KEY,name VARCHAR(255), address VARCHAR(255))")